body {
  margin: 30px;
  font-family: sans-serif;
}

.description {
  max-width: 800px;
}

.bar {
  fill: steelblue;
}

.tooltip {
     position: absolute;
     text-align: center;
     padding: .2rem;
     background: #313639;
     color: #f9f9f9;
     border: 0px;
     border-radius: 8px;
     pointer-events: none;
     font-size: .7rem;
}

table,
td {
    border: 0.5px dashed #333;
}

.chart-footer {
  font-style: italic;
  font-size: 10pt;
  color: #aaa;
}
